[preset.0]

name="Android"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="ASSET_LICENSES/*.txt,ASSET_LICENSES/*.md,THIRD_PARTY_ASSETS.md,AUDIO_MANIFEST.md,docs/ANDROID_PERMISSIONS.md,assets/*.json,assets/characters/warden/build_report.json,assets/environment/space_station/build_report.json,assets/scifi/build_report.json,data/campaign/*.json"
exclude_filter="tests/*,tool/*,build/*,.cache/*,docs/godot-runs/*,data/ui/chrome/menu_backdrop.jpg,data/ui/chrome/icon_*.png,assets/textures/rock/*,assets/textures/brick/*,assets/textures/stone/*,assets/textures/wood/*,assets/textures/metal/*,assets/textures/panorama/*,assets/characters/*,assets/weapons/*,assets/pickups/*,assets/environment/dungeon/*,assets/effects/*,assets/audio/*,assets/textures/*,assets/ui/*"
export_path="build/LastStandArena.apk"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=true
gradle_build/export_format=0
gradle_build/min_sdk="24"
gradle_build/target_sdk="34"
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
version/code=4
version/name="0.7.0"
package/unique_name="com.laststandarena.game"
package/name="Station Zero"
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
user_data_backup=false
command_line/extra_args=""
xr_features/xr_mode=0
permissions/vibrate=true
